<!-- <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <app-input-text formControlName="username" [label]="'Username'"></app-input-text>
    <app-input-text formControlName="password" [label]="'Password'"></app-input-text>
    <button type="submit">Login</button>
</form> -->

<ng-container class="container">
<div class="login">
    <form [formGroup]="loginForm" class="loginForm" (ngSubmit)="doLogin()" ngNativeValidate>
        <button type="button" class="btn-registrati" routerLink="/signup"> + </button>
        <div>
            <img src="../../../assets/logo.png" alt="logo" class="logo">
            <p class="title">Accedi</p>
            <input formControlName="username" id="username" placeholder="Username" class="inputFields" required>
        </div>
        <div>
            <input formControlName="password" id="password" placeholder="Password" class="inputFieldsPassword" [type]="showPw ? 'text' : 'password'"required>
            <ng-container *ngIf="showPw">
                <img (click)="showPassword()" src="../../../assets/icone/eye.png" alt="occhio" class="eye">
            </ng-container>
            <ng-container *ngIf="!showPw">
                <img (click)="showPassword()" src="../../../assets/icone/eye-off.png" alt="occhio" class="eye">
            </ng-container>
        </div>
        <div>
            <span class="password">Memorizza password</span>
            <label class="switch">
                <input type="checkbox" >
                <span class="slider round"></span>
            </label>
        </div>
        <button type="submit">
            <span> Login </span>
        </button>
    </form>
</div>
</ng-container>
