<!-- <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <app-input-text formControlName="username" [label]="'Username'"></app-input-text>
    <app-input-text formControlName="password" [label]="'Password'"></app-input-text>
    <button type="submit">Login</button>
</form> -->


<div class="login">
    <form [formGroup]="loginForm" class="loginForm">
        <button class="btn-registrati" routerLink="/signup"> + </button>
        <div>
            <img src="../../../assets/logo.png" alt="logo" class="logo">
            <p class="title">Accedi</p>
            <input id="username" placeholder="Username" class="inputFields">
        </div>
        <div>
            <input id="password" placeholder="Password" class="inputFieldsPassword">
            <!-- Implementare copertura PW -->
            <img src="../../../assets/icone/eye.png" alt="occhio" class="eye">
        </div>
        <div>
            <span class="password">Memorizza password</span>
            <label class="switch">
                <!-- Implementare memorizza PW -->
                <input type="checkbox" formControlName="salva">
                <span class="slider round"></span>
            </label>
        </div>
        <button type="submit" (onClick)="doLogin()">
            <span> Login </span>
        </button>
    </form>
</div>