<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<form [formGroup]="clothesForm" (ngSubmit)="confirmChanges()" class="form">
    <app-input-text formControlName="name" ></app-input-text>
    <ng-container class="box">
        <label>
            <input type="radio" value="rosso" formControlName="color">
              <button><i class="fa fa-circle-o" aria-hidden="true"></i></button>
          </label>
          <label>
            <input type="radio" value="blue" formControlName="color">
            <button><i class="fa fa-circle-o" aria-hidden="true"></i></button>
          </label>
    </ng-container>
    <app-input-text formControlName="text" ></app-input-text>
    <app-input-text formControlName="textColor" ></app-input-text>
    <button (click)="cancel()" type="button">Annulla</button>
    <button type="submit" [disabled]="clothesForm.invalid">Conferma</button>
</form>


<div class="background">
    <div class="product">
      <form>
        <img src="/assets/product/maglietta.jpg" class="img">
        <h5>Prodotto</h5>
        <ul id="menu">
            <li><a href="#">Maglia</a></li>
            <li><a href="#">Pantaloncini</a></li>
            <li><a href="#">Felpa</a></li>
            <li><a href="#">Tuta</a></li>
        </ul>
        <h5>Colore articolo</h5>
        <span class="dot1"></span>
        <span class="dot2"></span>
        <span class="dot3"></span>
        <span class="dot4"></span>
        <span class="dot5"></span>
        <span class="dot6"></span>
        <h5>Testo personalizzato</h5>
        
            <input type="text" id="testo" name="testo" placeholder="Inserisci testo">
       
        <h5>Colore testo</h5>
        <span class="dot1"></span>
        <span class="dot2"></span>
        <div class="bottone">
            <a class="myButton">AGGIUNGI AL CARRELLO</a>
        </div>
        <div class="bottone2">
            <a class="myButton2">RIPRISTINA</a>
        </div>
      </form>
    </div> 
</div>
