<div class="header">
    <div class="over-cart">
        <p class="cart"> CARRELLO </p>
        <img src="../../../assets/icone/cart.png" alt="carrello" class="carrello">
    </div>
    <div class="over-home" routerLink="/home">
        <p class="home"> HOME </p>
        <img src="../../../assets/icone/home.png" alt="carrello" class="home-img">
    </div>
    <p class="title"> <b> Personalizza </b> il tuo prodotto</p>
</div>

<div class="background">
   <section>
        <app-customize-form  (formSubmitEvent)="editForm($event)"  [clothes]="clothes" (undoEvent)="undo()"></app-customize-form>
   </section>
</div>
