<!-- <form [formGroup]="signUpForm" >
    <app-input-text formControlName="username" [label]="'Username'" required></app-input-text>
    <app-input-text formControlName="name" [label]="'Name'" required></app-input-text>
    <app-input-text formControlName="surname" [label]="'Surname'" required></app-input-text>
    <app-input-text formControlName="password" [label]="'Password'" required></app-input-text>
    <button type="submit" (click)="doSignUp()">Signup</button>
</form> -->


<div class="signup">
    <form [formGroup]="signUpForm" class="signupForm" (ngSubmit)="doSignUp()" ngNativeValidate>
        <button type="button" class="btn-registrati" routerLink="/login">×</button>
        <div>
            <img src="../assets/logo.png" alt="logo" class="logo">
            <p class="title">Sign up</p>
            <input id="username" placeholder="Username" formControlName="username" class="inputFields" required minlength="5">
        </div>
        <div>
            <input formControlName="password" id="password" placeholder="Password" class="inputFieldsPassword" [type]="showPw ? 'text' : 'password'"required>
            <ng-container *ngIf="showPw">
                <img (click)="showPassword()" src="../../../assets/icone/eye.png" alt="occhio" class="eye">
            </ng-container>
            <ng-container *ngIf="!showPw">
                <img (click)="showPassword()" src="../../../assets/icone/eye-off.png" alt="occhio" class="eye">
            </ng-container>
        </div>
        <br><br>
        <button type="submit" id="button">
            <span>Sign up</span>
        </button>
    </form>
</div>