<div class="header">
    <div class="home" routerLink="/home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <ng-container>
        <ng-container *ngIf="((cartItem | async) && (cartItem | async).length > 0)">
            <p class="title">Carrello ({{ (cartItem | async).length}})</p>
        </ng-container>
        <ng-container *ngIf="((cartItem | async) && (cartItem | async).length == 0)">
            <p class="title">Carrello Vuoto</p>
        </ng-container >
    </ng-container>


</div>
<div class="background">


    <div class="product" [ngSwitch]="prosegui">

        <!-- PRODOTTI - STEP 1-->
        <div *ngSwitchCase="0">
            <ng-container *ngIf="((cartItem | async) && (cartItem | async).length > 0); else emptyCart">
                <ng-container *ngFor=" let i = index;let item of cartItem | async;">
                    <div class="cartItem">
                        <img [src]="'/assets/product/'+item.id+'_'+item.color+'.jpg'" class="img" alt="img_prodotto">
                        <p class="costo"> {{item.price}} €</p>
                        <div class="resoconto">
                            <p>Prodotto</p>
                            <p>Colore</p>
                            <p>Testo</p>
                            <p>Colore Testo</p>
                        </div>
                        <div class="descrizione">
                            <p>{{item.name | titlecase }}</p>
                            <p>{{item.color | titlecase}}</p>
                            <p>{{item.text | titlecase}}</p>
                            <p>{{item.textColor | titlecase}}</p>
                        </div>
                        <div class="bottone2" (click)="remove(i,item.price)">
                            <a class="myButton2">RIMUOVI</a>
                        </div>
                        <hr>
                    </div>
                </ng-container>
                <div class="footer">
                    <p class="totale">TOTALE</p>
                    <p class="prezzo">{{totPrice}}€</p>
                    <div class="dots">
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                        <span class="dot3"></span>
                    </div>
                    <div class="bottone3">
                        <a class="myButton3" (click)="next()">PROSEGUI</a>
                    </div>
                </div>
            </ng-container>

            <ng-template #emptyCart>
                <h1 class="emptyCart">Carrello vuoto</h1>
                <div class="footer">
                    <p class="totale">TOTALE</p>
                    <p class="prezzo"> / </p>
                    <div class="dots">
                        <span class="dot1"></span>
                        <span class="dot2"></span>
                        <span class="dot3"></span>
                    </div>
                    <div class="bottone3">
                        <a class="myButton3" disabled routerLink="/home"> HOME </a>
                    </div>
                </div>
            </ng-template>
        </div>

        <!-- FORM - STEP 2 -->
        <div class="step2" *ngSwitchCase="1">
            <form [formGroup]="shippingForm" (ngSubmit)="next();submitForm()" ngNativeValidate>
                <br>
                <div>
                    <label for="nome" class="label">Nome</label>
                    <input type="text" id="nome" class="form" formControlName="nome" required>
                </div>
                <div>
                    <label for="nome" class="label">Cognome</label>
                    <input type="text" id="nome" class="form" formControlName="cognome" required>
                </div>
                <div>
                    <label for="nome" class="label">Cellulare</label>
                    <input type="text" id="nome" class="form" formControlName="cellulare" required>
                </div>
                <div class="inline">
                    <label for="nome" class="label">Città</label>
                    <input type="text" id="nome" class="form2" formControlName="città" required>
                    <label for="nome" class="label">CAP</label>
                    <input type="text" id="nome" class="form2" formControlName="cap" maxlength="5" required>
                </div>
                <div>
                    <label for="nome" class="label">Indirizzo</label>
                    <input type="text" id="nome" class="form3" formControlName="indirizzo" required>
                    <label for="nome" class="label">N°</label>
                    <input type="text" id="nome" class="form4" formControlName="n" required>
                </div>
                <div>
                    <label for="nome" class="label">Informazioni per corriere</label>
                    <input type="text" id="nome" class="form" formControlName="information" required maxlength="50">
                </div>
                <hr>
                <div class="footer">
                    <div class="bottone4">
                        <a class="myButton4" (click)="back()"> INDIETRO </a>
                    </div>
                    <div class="dots2">
                        <span class="dot2"></span>
                        <span class="dot1"></span>
                        <span class="dot3"></span>
                    </div>
                    <div class="bottone5">
                        <button type="submit" class="myButton5"> PROSEGUI </button>
                    </div>
                </div>
            </form>

        </div>

        <!-- PAGAMENTO - STEP 2 -->
        <div *ngSwitchCase="2">
            <div class="prodotti">
                <div class="resoconto2">
                    <p>Prodotti acquistati</p>
                    <p>Prezzo</p>
                    <p>Spedizione</p>
                    <p>Indirizzo</p>
                    <p>Spedito al sig</p>
                </div>
                <div class="descrizione2">
                    <p> {{ (cartItem | async).length}} </p>
                    <p> {{totPrice}}€ </p>
                    <!-- <p> {{ (cartItem | async).length  * 0.8}} €</p> -->
                    <p> Gratis </p> <!-- Da implementare logiche sugli sconti dopo tot prodotti aquistati-->
                    <p> {{this.shippingForm.get('indirizzo').value}} </p>
                    <p> {{this.shippingForm.get('nome').value}} {{this.shippingForm.get('cognome').value}}  </p>
                </div>
            </div>
            <form [formGroup]="paymentForm" (ngSubmit)="sendEmail()">
                <div>
                    <label for="nome" class="label">Seleziona metodo di pagamento</label>
                    <select name="nome" id="nome" class="form" formControlName="carta">
                            <option value="cartaCredito" class="option">Carta di credito</option>
                            <option value="cartaDebito" class="option">Carta di debito</option>
                            <option value="cartaPrepagata" class="option">Carta prepagata</option>
                    </select>
                </div>
                <div>
                    <label for="nome" class="label">Tipo carta</label>
                    <select name="nome" id="nome" class="form" formControlName="tipo">
                        <option value="Visa" class="option">Visa</option>
                        <option value="MasterCard" class="option">MasterCard</option>
                        <option value="Maestro" class="option">Maestro</option>
                    </select>
                </div>
                <div>
                    <label for="nome" class="label">Numero carta</label>
                    <input id="nome" class="form5" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" formControlName="numero">
                    <label for="nome" class="label">CVC</label>
                    <input type="text" id="nome" class="form6" formControlName="CVC">
                </div>
                <hr>
                <div class="footer">
                    <div class="bottone4">
                        <button type="button" class="myButton4" (click)="back()">INDIETRO</button>
                    </div>
                    <div class="dots2">
                        <span class="dot2"></span>
                        <span class="dot3"></span>
                        <span class="dot1"></span>
                    </div>
                    <div class="bottone5">
                        <button type="submit" class="myButton5">ACQUISTA</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- STEP 3 - RINGRAZIAMENTO ACQUISTO, svuoto carrello -->
        <div *ngSwitchCase="3">
            <div>
                <h1 class="thanks">Grazie per l'acquisto </h1>
                <h3 class="thanks">Le abbiamo inviato una mail di resoconto </h3>
                <div class="footer">
                    <div class="bottone-logout">
                        <button (click)="logout()" class="myButton4"> LOGOUT </button>
                    </div>
                    <div class="bottone-home">
                        <button (click)="deleteCurrentCart()" routerLink="/home" class="myButton5"> HOME </button>
                    </div>
                </div>
            </div>
        </div>
    </div>