<div class="header">
    <div class="home" routerLink="/home">
        <img src="../../../assets/icone/home.png" alt="home" class="house">
        <p class="scritta">Home</p>
    </div>
    <ng-container>
        <ng-container *ngIf="((cartItem | async) && (cartItem | async).length > 0)"> 
            <p class="title">Carrello ({{ (cartItem | async).length}})</p>  
        </ng-container>
        <ng-container *ngIf="((cartItem | async) && (cartItem | async).length == 0)">
            <p class="title">Carrello Vuoto</p>
        </ng-container >
    </ng-container>
  
   
</div>
<div class="background">

    
    <div class="product" [ngSwitch]="prosegui">
        
        <!-- PRODOTTI - STEP 1-->
        <div *ngSwitchCase="0">

            <!-- Prodotti presenti nel carrello -->
            <ng-container *ngIf="((cartItem | async) && (cartItem | async).length > 0); else emptyCart">
                <ng-container *ngFor=" let i = index;let item of cartItem | async;">
                    <div class="cartItem">
                        <img [src]="'/assets/product/'+item.id+'_'+item.color+'.jpg'" class="img" alt="img_prodotto">
                        <p class="costo">€ 15</p>
                        <div class="resoconto">
                            <p>Prodotto</p>
                            <p>Colore</p>
                            <p>Testo</p>
                            <p>Colore Testo</p>
                        </div>
                        <div class="descrizione">
                            <p>{{item.name}}</p>
                            <p>{{item.color}}</p>
                            <p>{{item.text}}</p>
                            <p>{{item.textColor}}</p>    
                        </div>
                        <div class="bottone2" (click)="remove(i)">
                            <a class="myButton2">RIMUOVI</a>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-template #emptyCart>
                <h1 class="emptyCart">Carrello vuoto</h1>
            </ng-template>
            <hr>
            <div class="footer">
                <p class="totale">TOTALE</p>
                <p class="prezzo">30€</p>
                <div class="dots">
                    <span class="dot1"></span>
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                </div>
                <div class="bottone3">
                    <a class="myButton3" (click)="next()">PROSEGUI</a>
                </div>
            </div>
        </div>

        <!-- FORM - STEP 2 -->
        <div class="step2" *ngSwitchCase="1">
            <form [formGroup]="shippingForm" (ngSubmit)="next();submitForm()" ngNativeValidate>
                <div>
                    <label for="nome" class="label">Nome</label>
                    <input type="text" id="nome" class="form" formControlName="nome" required>
                </div>
                <div>
                    <label for="nome" class="label">Cognome</label>
                    <input type="text" id="nome" class="form" formControlName="cognome" required>
                </div>
                <div>
                    <label for="nome" class="label">Cellulare</label>
                    <input type="text" id="nome" class="form" formControlName="cellulare" required>
                </div>
                <div class="inline">
                    <label for="nome" class="label">Citta</label>
                    <input type="text" id="nome" class="form2" formControlName="città" required>
                    <label for="nome" class="label">Cap</label>
                    <input type="text" id="nome" class="form2" formControlName="cap" maxlength="5" required>
                </div>
                <div>
                    <label for="nome" class="label">Indirizzo</label>
                    <input type="text" id="nome" class="form3" formControlName="indirizzo" required>
                    <label for="nome" class="label">N</label>
                    <input type="text" id="nome" class="form4" formControlName="n" required>
                </div>
                <div>
                    <label for="nome" class="label">Informazioni per corriere</label>
                    <input type="text" id="nome" class="form" formControlName="information" required maxlength="50">
                </div>
                <hr>
                <div class="footer">
                    <div class="bottone4">
                        <a class="myButton4" (click)="back()"> INDIETRO </a>
                    </div>
                    <div class="dots2">
                        <span class="dot2"></span>
                        <span class="dot1"></span>
                        <span class="dot3"></span>
                    </div>
                    <div class="bottone5">
                        <button type="submit" class="myButton5"> PROSEGUI </button>
                    </div>
                </div>
            </form>
           
        </div>

        <!-- PAGAMENTO - STEP 2 -->
        <div *ngSwitchCase="2">
            <div class="prodotti">
                <div class="resoconto2">
                    <p>Prodotti acquistati</p>
                    <p>Prezzo</p>
                    <p>Spedizione</p>
                    <p>Indirizzo</p>
                    <p>Spedito al sig</p>
                </div>
                <div class="descrizione2">
                    <p>Samsung s10</p>
                    <p>Nero</p>
                    <p>nulla</p>
                    <p>bianchi</p>
                    <p>nulla</p>
                </div>
            </div>
            <form [formGroup]="paymentForm">
                <div>
                    <label for="nome" class="label">Seleziona metodo di pagamento</label>
                    <select name="nome" id="nome" class="form" formControlName="carta">
                            <option value="cartaCredito" class="option">Carta di credito</option>
                            <option value="cartaDebito" class="option">Carta di debito</option>
                            <option value="cartaPrepagata" class="option">Carta prepagata</option>
                    </select>
                </div>
                <div>
                    <label for="nome" class="label">Tipo carta</label>
                    <input type="text" id="nome" class="form">
                    <select name="nome" id="nome" class="form" formControlName="tipo">
                        <option value="Visa" class="option">Visa</option>
                        <option value="MasterCard" class="option">MasterCard</option>
                        <option value="Maestro" class="option">Maestro</option>
                    </select>
                </div>
                <div>
                    <label for="nome" class="label">Numero carta</label>
                    <input id="nome" class="form5" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" formControlName="numero">
                    <label for="nome" class="label">CVC</label>
                    <input type="text" id="nome" class="form6" formControlName="CVC">
                </div>
            </form>
            <hr>
            <div class="footer">
                <div class="bottone4">
                    <a class="myButton4" (click)="back()">INDIETRO</a>
                </div>
                <div class="dots2">
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                    <span class="dot1"></span>
                </div>
                <div class="bottone5">
                    <a class="myButton5" routerLink="/home">ACQUISTA</a>
                </div>
            </div>
        </div>
    </div>


   
<!-- 
    <div>

        </ng-container>
       
    </div> -->