$coloreInizioSfumatura: rgba(129, 211, 248, 1) 0%;
$coloreFineSfumatura:  rgba(194, 128, 255, 1) 100%;
body {
    background-image: linear-gradient(to right, $coloreInizioSfumatura, $coloreFineSfumatura);
    background-repeat: repeat-y;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    height: 100%;
}
